:root {
    --white: #f1f1f1;
    --dark: #303030;
    --main-bg-color: var(--white);
    --main-txt-color: var(--dark);
    --secondary-txt-color: #444444;
    --light-border-color: #ccc;
    --accent-color: #3491CC;
    --secondary-color: #ec0000;
    --toolbar-width: 360px;
}
@media (prefers-color-scheme: dark) {
    :root {
    --main-bg-color: var(--dark);
    --main-txt-color: var(--white);
    --secondary-txt-color: #e5e5e5;
    --light-border-color: #454545;
  }
}
body {
  font: 300 18px/1.5 "Inter", "Open sans", sans-serif;
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 86px);
  grid-auto-rows: 1fr;
  /* grid-template-rows: repeat(6, 1fr);  */
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.category-heading {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 2em auto 1em;
  color: var(--secondary-txt-color);
}
.icon-btn {
  border-radius: 4px;
  border: 1px solid var(--light-border-color);
  margin: 0; padding: 10px;
  width: auto;
  overflow: visible;
  background: transparent;
  color: var(--main-txt-color);
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  -webkit-appearance: none;
}
.icon-btn > svg {
  width: 100%;
  height: auto;
}
.icon-btn:focus,
.icon-btn:active,
.icon-btn.selected {
  outline: none;
  border: 4px solid var(--accent-color);
}
.icon-code {
  position: relative;
  margin: 10px 0 20px;
}
.icon-code > pre {
  font-size: 13px;
  font-family: 'Fira Code', monospace;
  font-weight: 500;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: rgb(30,32,30);
  color: rgb(240,240,240);
  border-radius: 12px;
  padding: 10px;
  overflow-y: scroll;
  max-height: calc(100vh - (360px + 120px + 60px));
  margin: 0;
}
.icon-code > pre::selection,
.icon-code > pre > code::selection {
  background-color: var(--accent-color);
  color: white;
}
.icon-code > pre:empty {
  visibility: hidden;
}
.icon-code > textarea,
.copy-svg {
  font-size: 1px;
  width: 0; height: 0;
  opacity: 0;
}
.icon-preview {
  width: var(--toolbar-width); height: calc(var(--toolbar-width) - 40px);
  margin: 30px 0 10px; padding: 40px 60px;
  box-sizing: border-box;
  border-radius: 12px;
  transition: all .3s linear;
}
.icon-preview > svg {
  width: 100%;
  height: auto;
}
.icon-details {
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
}
.icon-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  height: 60px;
}
.action-btn {
  margin: 0; padding: .75em 1em 0.75em 0.5em;
  width: 47.5%;
  box-sizing: border-box;
  overflow: visible;
  background: var(--accent-color);
  color: white;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  transition: all .5s linear;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
  line-height: normal;
  border: 3px solid transparent;
}
.action-btn > svg {
  vertical-align: text-top;
}
.action-btn:hover {
  color: rgb(30, 30, 30);
}
.action-btn:active,
.action-btn:focus {
  outline: none;
  border: 3px solid var(--light-border-color);
  color: rgb(30, 30, 30);
}
.preview-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: var(--toolbar-width);
}
.preview-controls > div {
  padding: 0 10px;
}
button[class*="preview-"] {
  width: 16px; height: 16px;
  display: inline-block;
  border: 1px solid var(--light-border-color);
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
button[class*="preview-"]:active,
button[class*="preview-"]:focus {
  outline: none;
}
button[class*="-foreground"] {
  border-radius: 50%;
}
[data-color="dark"], [data-background="dark"] { background-color: #303030; }
[data-color="white"], [data-background="white"] { background-color: var(--white); }
[data-color="transparent"], [data-background="transparent"] { background-color: transparent; }
[data-color="accent"] { background-color: var(--accent-color); }
[data-color="secondary"] { background-color: var(--secondary-color); }
[data-foreground="accent"] { color: var(--accent-color);}
[data-foreground="secondary"] { color: var(--secondary-color);}
[data-foreground="white"] { color: var(--white);}
[data-foreground="dark"] { color: #303030;}

#iconGrid {
  width: calc(90% - var(--toolbar-width));
  margin-left: 5%;
  min-height: 100vh;
  overflow-y: scroll;
}
#toolbar {
  position: fixed;
  width: var(--toolbar-width);
  padding: 0 20px 20px;
  height: 100vh;
  top: 0; right: 0;
  background-color: rgba(0,0,0,.1);
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#toolbar > * {
  flex-grow: 0;
  flex-shrink: 0;
}
/* Highligth.js */

.hljs-tag,
.hljs-name {
  color: #rgb(240, 240, 245);
}
.hljs-attr {
  color: rgb(180, 180, 190);
}
.hljs-string {
  color: #3491CC;
}