:root {
    --main-bg-color: #f1f1f1;
    --main-txt-color: #303030;
    --secondary-txt-color: #444444;
    --light-border-color: #ccc;
}
@media (prefers-color-scheme: dark) {
    :root {
    --main-bg-color: #303030;
    --main-txt-color: #f1f1f1;
    --secondary-txt-color: #e5e5e5;
    --light-border-color: #454545;
  }
}
body {
  font: 18px/1.5 "Inter", "Open sans", sans-serif;
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 86px);
  grid-auto-rows: 1fr;
  /* grid-template-rows: repeat(6, 1fr);  */
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.category-heading {
  font-size: 24px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 2em auto 1em;
  color: var(--secondary-txt-color);
}
.icon-btn {
  border-radius: 4px;
  border: 1px solid var(--light-border-color);
  margin: 0; padding: 10px;
  width: auto;
  overflow: visible;
  background: transparent;
  color: var(--main-txt-color);
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  -webkit-appearance: none;
}
.icon-btn > svg {
  width: 100%;
  height: auto;
}
.icon-code {
  background-color: rgb(20,22,20);
  color: rgb(240,240,240);
  border-radius: 12px;
  padding: 10px 20px;
  overflow-y: scroll;
  height: calc(100vh - (320px + 120px + 40px));
}
.icon-code > pre {
  font-size: 13px;
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.icon-preview {
  width: 320px;
  height: 320px;
}
.icon-preview > svg {
  width: 100%;
  height: auto;
}
.icon-actions, .icon-details {
  height: 60px;
}
#iconGrid {
  width: calc(90% - 400px);
  margin-left: 5%;
  min-height: 100vh;
  overflow-y: scroll;
}
#toolbar {
  position: fixed;
  width: 400px;
  padding: 20px 40px 40px;
  height: 100vh;
  top: 0; right: 0;
  background-color: rgba(0,0,0,.1);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#toolbar > * {
  flex-grow: 0;
}